.card-group
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.card-group .card{

    border-radius: 8px;
    border: 1px solid #09458f; 
    color: white;
    padding: 1.5rem;
    justify-items: center;
    line-height: 20px;
    flex: 1 1 200px;
    margin:16px;
    width: 50%;
    box-shadow: 4px 4px 8px 0px rgba(9,69,143,0.49);

}

/*.card-group .card:first-child{
    margin-left: 0;
}*/
.card .card-header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-basic-bg
{
    background: linear-gradient(to top,  #5664b5 , #de26e4);
}

.card:hover{

}

.card .card-content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.card .card-content span{
    max-width: 250px;
    font-size: 80%;
}



/*@media (max-width: 890px){
    .card-group{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
    }

    .card{
        padding: 1.5rem;
        justify-content: center;

        display: flex;
        width: calc(50% - 16px);
        flex-direction: column;
        box-shadow: 4px 4px 8px 0px rgba(9,69,143,0.49);
    }

    .card .card-content span{
        max-width: 250px;
        font-size: 80%;
        text-align: center;
    }
}/*