.navbar
{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #549cf4; 
    padding: 16px;
    max-width: 100%;
    justify-content: space-between;
    
}


.bg-nav{
    background: linear-gradient(to top,  #5664b5 , #de26e4);
}

.bg-normal{
    background-color: #de26e4;
}

.nav-bg-dark{
    background: linear-gradient(to right,  #8290b4 , #5664b5, #de26e4);
}

.navbar .navbar-brand{
    width: auto;
    display: flex;
    color: inherit;
    
}

.navbar .navbar-brand a{
    text-decoration:  none;
}

.navbar-brand .text-brand{
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-menu ul
{
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;
    border: 1px solid red;
    height: 100%;
}

.navbar ul li{
    margin: auto 0;
    padding: 8px;
    color: white;
}

.navbar ul li > a{
    padding: 8px;
    color: white;
}


.navbar ul li> a:hover{
    color: white;
    transition:all 1s;
    background-color: #de26e4;
    padding: 8px;
}